<!DOCTYPE html>
<html>
<head>
    <title>Project Screen 1 - Basic Details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: navy;
            background-size: cover;
            background-position: center;
        }

        .container {
            width: 500px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.8);
        }

        h1 {
            text-align: center;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        input[type="text"], input[type="email"], input[type="tel"], textarea, select {
            width: 100%;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .button-container {
            text-align: center;
            margin-top: 20px;
        }

        .submit-button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        .submit-button:hover {
            background-color: #45a049;
        }
    </style>
    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f1f1f1;
            color: #333;
            margin: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Project Screen 1</h1>
        <a href="/admin_login" class="button">Admin Login</a>
    <a href="/chatbot" class="button">Chat Bot</a>
        <h2>Basic Details</h2>
        <form>
           <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" id = 'first_name' required>
            </div>

            <div class="form-group">
                <label for="middle_name">Middle Name:</label>
                <input type="text" name="middle_name">
            </div>

            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name" required>
            </div>

            <div class="form-group">
                <label for="phone_number">Phone Number:</label>
                <input type="text" name="phone_number" required>
            </div>

            <div class="form-group">
                <label for="email_address">Email Address:</label>
                <input type="email" name="email_address" id = "email" required>
            </div>

            <div class="form-group">
                <label for="sex">Sex:</label>
                <select name="sex" required>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>

            <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" name="age" required>
            </div>

            <div class="form-group">
                <label for="date_of_birth">Date of Birth:</label>
                <input type="date" name="date_of_birth" required>
            </div>

            <div class="form-group">
                <label for="address">Address:</label>
                <textarea name="address" required></textarea>
            </div>

            <div class="form-group">
                <label for="state">State:</label>
                <input type="text" name="state" required>
            </div>

            <div class="form-group">
                <label for="risk_class">Risk Class:</label>
                <select name="risk_class" required>
                    <option value="Preferred Plus Non Tobacco">Preferred Plus Non Tobacco</option>
                    <option value="Preferred Non Tobacco">Preferred Non Tobacco</option>
                    <option value="Standard Plus Non Tobacco">Standard Plus Non Tobacco</option>
                    <option value="Standard Non Tobacco">Standard Non Tobacco</option>
                    <option value="Preferred Tobacco">Preferred Tobacco</option>
                    <option value="Standard Tobacco">Standard Tobacco</option>
                </select>
            </div>
            <div class="form-group">
                <label for="face_amount">Face Amount:</label>
                <input type="text" name="face_amount" placeholder="Example: 500,000 or 500000" required>
            </div>
            <div class="form-group">
                <label for="death_benefit_option">Death Benefit Option:</label>
                <select name="death_benefit_option" required>
                    <option value="level">Level</option>
                    <option value="increasing">Increasing</option>
                </select>
            </div>
            <div class="form-group">
                <label for="premium_mode">Premium Mode:</label>
                <select name="premium_mode" required>
                    <option value="monthly">Monthly</option>
                    <option value="annual">Annual</option>
                </select>
            </div>
            <div class="form-group">
                <label for="premium_schedule">Premium Schedule:</label>
                <select name="premium_schedule" required>
                    <option value="maximum">Maximum</option>
                    <option value="target">Target</option>
                </select>
            </div>
            <div class="form-group">
                <label for="section">Select a Section:</label>
                l,
                <select name="section" required>
                    <option value="ltc_rider">LTC Rider</option>
                    <option value="linked_benefit_ltc">Linked Benefit LTC</option>
                    <option value="None">None</option>
                </select>
            </div>

            <div class="ltc-rider-section">
                <h3>LTC Rider</h3>
                <div class="form-group">
                    <label for="ltc_amount">Amount:</label>
                    <input type="text" name="ltc_amount" placeholder="Default amount is same as Face amount">
                </div>

                <div class="form-group">
                    <label for="maximum_monthly_benefit">Maximum Monthly Benefit:</label>
                    <select name="maximum_monthly_benefit">
                        <option value="2%">2%</option>
                        <option value="3%">3%</option>
                        <option value="4%">4%</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="rate">Rate:</label>
                    <select name="rate">
                        <option value="Preferred Tobacco">Preferred Tobacco</option>
                        <option value="Non Tobacco">Non Tobacco</option>
                        <option value="Preferred Non Tobacco">Preferred Non Tobacco</option>
                        <option value="Tobacco">Tobacco</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="term">Term:</label>
                    <select name="term">
                        <option value="10-Year">10-Year</option>
                        <option value="15-Year">15-Year</option>
                        <option value="20-Year">20-Year</option>
                        <option value="30-Year">30-Year</option>
                        <option value="Permanent">Permanent</option>
                    </select>
                </div>
            </div>

            <div class="linked-benefit-ltc-section">
                <h3>Linked Benefit-LTC</h3>
                <div class="form-group">
                    <label for="premium_schedule">Premium Schedule:</label>
                    <select name="premium_schedule">
                        <option value="Single">Single</option>
                        <option value="5-Pay">5-Pay</option>
                        <option value="10-Pay">10-Pay</option>
                        <option value="Pay-to-AFS">Pay-to-AFS</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="benefit_durations">Benefit Durations:</label>
                    <select name="benefit_durations">
                        <option value="2 Years">2 Years</option>
                        <option value="3 Years">3 Years</option>
                        <option value="4 Years">4 Years</option>
                        <option value="5 Years">5 Years</option>
                        <option value="6 Years">6 Years</option>
                        <option value="7 Years">7 Years</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="inflation_benefit_option">Inflation Benefit Option:</label>
                    <select name="inflation_benefit_option">
                        <option value="None">None</option>
                        <option value="3% Simple">3% Simple</option>
                        <option value="3% Compound">3% Compound</option>
                        <option value="5% Compound">5% Compound</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
    <input type="button" value="Submit" onclick="submit_details()">
</div>
        </form>
        <a href="/download" class="button">Download Data</a>
<!--        <input type="button" value="Download Data" class="button" onclick="download_data()">-->
<!--    <a href = "/schedule">Scheduler</a>-->
        <form >
            <h2>Meeting Scheduler</h2>
<!--             <input type="button" value="Download" class="button">-->
<!--             <div class="form-group">-->
<!--                <label for="first_name" > Name:</label>-->
<!--                <input type="text" id = "name" name="first_name" required>-->
<!--            </div>-->

            <div class="form-group">
                <label for="consultant" >Consultant</label>
                <input type="text" name="consultant" id = "consultant">
            </div>

            <div class="form-group">
                <label for="location" >Location</label>
                <input type="text" id = "location" name="location" required>
            </div>
<!--             <div class="form-group">-->
<!--                <label for="email" >Receiver Email</label>-->
<!--                <input type="text" id = "email" name="email" required>-->
<!--            </div>-->

            <div class="form-group">
				<label for="time" >Time</label>
				<select name="time" id="time" required>
				<option value="Monday 7:30 PM">Monday 7:30 PM</option>
                    <option value="Tuesday 7:30 PM">Tuesday 7:30 PM</option>
                    <option value="Wednesday 7:30 PM">Wednesday 7:30 PM</option>
                    <option value="Saturday 10:00 AM">Saturday 10:00 AM</option>
                    <option value="Saturday 2:00 PM">Saturday 2:00 PM</option>
                    <option value="Saturday 7:30 PM">Saturday 7:30 PM</option>
                    <option value="Sunday 7:30 PM">Sunday 7:30 PM</option>
				</select>
			</div>
            <div class="form-group">
                <label for="subject" >Subject</label>
                <input type="text" id = "subject" name="subject" required>
            </div>
			<div>
				<span>Or give a timing you prefer</span>
				<input type = "text" id = "time1">
				<input type = "text" id = "time2">
			</div>

			<div>
				<br>
			</div>



            <div class="form-group">
                <input type="button" value="Schedule " class="submit-button" onclick="scheduleMeeting()">
            </div>
        </form>


    </div>
</body>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

<script>

var id_number = ""
    function submit_details(){
    var firstName = document.getElementById("first_name").value;
var middleName = document.getElementsByName("middle_name")[0].value;
var lastName = document.getElementsByName("last_name")[0].value;
var phoneNumber = document.getElementsByName("phone_number")[0].value;
var emailAddress = document.getElementById("email").value;
var sex = document.getElementsByName("sex")[0].value;
var age = document.getElementsByName("age")[0].value;
var dateOfBirth = document.getElementsByName("date_of_birth")[0].value;
var address = document.getElementsByName("address")[0].value;
var state = document.getElementsByName("state")[0].value;
var riskClass = document.getElementsByName("risk_class")[0].value;
var faceAmount = document.getElementsByName("face_amount")[0].value;
var deathBenefitOption = document.getElementsByName("death_benefit_option")[0].value;
var premiumMode = document.getElementsByName("premium_mode")[0].value;
var premiumSchedule = document.getElementsByName("premium_schedule")[0].value;
var section = document.getElementsByName("section")[0].value;

// For LTC Rider Section
var ltcAmount = document.getElementsByName("ltc_amount")[0].value;
var maximumMonthlyBenefit = document.getElementsByName("maximum_monthly_benefit")[0].value;
var rate = document.getElementsByName("rate")[0].value;
var term = document.getElementsByName("term")[0].value;

// For Linked Benefit-LTC Section
var linkedBenefitLtcPremiumSchedule = document.getElementsByName("premium_schedule")[0].value;
var benefitDurations = document.getElementsByName("benefit_durations")[0].value;
var inflationBenefitOption = document.getElementsByName("inflation_benefit_option")[0].value;

// ... (code for other form fields)

// For Meeting Scheduler
var consultant = document.getElementById("consultant").value;
var location = document.getElementById("location").value;
var time = document.getElementById("time").value;
var time1 = document.getElementById("time1").value;
var time2 = document.getElementById("time2").value;

var subject_email = document.getElementById("subject").value;

var formData = {
    first_name: firstName,
    middle_name: middleName,
    last_name: lastName,
    phone_number: phoneNumber,
    email_address: emailAddress,
    sex: sex,
    age: age,
    date_of_birth: dateOfBirth,
    address: address,
    state: state,
    risk_class: riskClass,
    face_amount: faceAmount,
    death_benefit_option: deathBenefitOption,
    premium_mode: premiumMode,
    premium_schedule: premiumSchedule,
    section: section,

        ltc_amount: ltcAmount,
        maximum_monthly_benefit: maximumMonthlyBenefit,
        rate: rate,
        term: term,
        premium_schedule_ltc: linkedBenefitLtcPremiumSchedule,
        benefit_durations: benefitDurations,
        inflation_benefit_option: inflationBenefitOption,
        subject: subject_email

};

 $.ajax({
        url: '/',
        data: JSON.stringify(formData),
        type: 'POST',
        contentType: "application/json",
        dataType: 'json',
        success: function (data2) {
        document.getElementById("first_name").value = data2['first_name']
        id_number = data2['id']
            return true;

        },
        error: function (data2) {
            console.log(data2);
            return false;
        }
    });


    }
</script>
<script>
<!--    function download_data(){-->
<!--    -->
<!--    }-->
</script>



	<script>

	function scheduleMeeting() {
<!--    var name = document.getElementById("name").value;-->
    var name = document.getElementById("first_name").value;
    var consultant = document.getElementById("consultant").value;
    var location = document.getElementById("location").value;
    var time = document.getElementById("time").value;
<!--    var email = document.getElementById("email").value;-->
    var email = document.getElementById("email").value;
    var subject = document.getElementById("subject").value;

    var data_dict = {
        'name': name,
        'professional': consultant,
        'location': location,
        'time': time,
        'email':email,
        'subject':subject
    };

    $.ajax({
        url: '/schedule',
        data: JSON.stringify(data_dict),
        type: 'POST',
        contentType: "application/json",
        dataType: 'json',
        success: function (data2) {
            return true;
        },
        error: function (data2) {
            console.log(data2);
            return false;
        }
    });
}


	</script>
</html>


